extends layout

block content
  .dashboard-wrap
    .user-menu
      span.user-id=user.email
      submit#signout Sign out
      span.create-menu
        input#newFileName(placeholder="write your file name...")
        button#createFile New Document
    .folders
      .folder-title Private Documents
      .folder.private(ondrop='drop(event)' ondragover='allowDrop(event)')
        //- - for(e of privateDirectories){
        //-     a(href=`/folder/${e.id}`).doc
        //-       .folder-img
        //-         .folder-icn
        //-       .doc-title=e.name
        //- - }
        - for(e of privateFiles){
            a(href=`/texteditor/${e.id}` draggable='true' ondragstart='drag(event)').doc
              .doc-img
                .doc-icn
              .doc-title=e.name
        - }
      .folder-title Public Documents
      .folder.public(ondrop='drop(event)' ondragover='allowDrop(event)')
        //- - for(e of publicDirectories){
        //-     a(href=`/folder/${e.id}`).doc
        //-       .folder-img
        //-         .folder-icn
        //-       .doc-title=e.name
        //- - }
        - for(e of publicFiles){
            a(href=`/texteditor/${e.id}` draggable='true' ondragstart='drag(event)').doc
              .doc-img
                .doc-icn
              .doc-title=e.name
        - }